@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

nav {
  position: fixed;
  width: 100vw;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 2;
}

.logo a {
  font-weight: 600;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.menu-toggle {
  position: relative;
  width: 3rem;
  height: 1.5rem;
  cursor: pointer;
}

.menu-toggle p {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  transform-origin: center;
  will-change: transform, opacity;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

#menu-close {
  top: -10%;
  right: 0;
}

.menu-overlay {
  position: fixed;
  width: 100vw;
  height: 100svh;
  background: radial-gradient(
      circle at 85% 85%,
      /* bottom-right focus */ rgba(72, 0, 255, 0.25) 0%,
      /* glowing blue */ rgba(20, 0, 40, 0.15) 35%,
      /* soft spread */ rgba(10, 0, 20, 0.1) 55%,
      #0f0f0f 80% /* pure black towards top-left */
    ),
    linear-gradient(to top left, #0f0f0f 0%, #0f0f0f 100%);
  z-index: 1;
}

.menu-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: left bottom;
  will-change: transform, opacity;
}

.menu-items,
.menu-footer {
  width: 100%;
  padding: 2.5em;
  display: flex;
  gap: 2.5em;
}

.col-lg {
  flex: 3;
}
.col-sm {
  flex: 2;
}

.menu-items .col-lg {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-preview-image {
  width: 45%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.menu-preview-image img {
  position: absolute;
  will-change: transform, opacity;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu-items .col-sm {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  padding: 2.5em 0;
}

.menu-links,
.menu-socials {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.link,
.social {
  padding-bottom: 6px;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.link a,
.social a {
  display: inline-block;
  will-change: transform;
  transform: color 0.5s;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 300;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.link a {
  font-size: 3.5rem;
  letter-spacing: -0.02rem;
}

.social a {
  color: #8f8f8f;
}

.social a:hover {
  color: #fff;
}

.menu-footer {
  position: absolute;
  bottom: 0;
}

.menu-footer .col-sm {
  display: flex;
  justify-content: space-between;
}

.link a::after,
.social a::after,
.menu-footer a::after {
  position: absolute;
  content: "";
  top: 102.5%;
  left: 0;
  width: 100%;
  height: 2px;
  background: #fff;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.3s cubic-bezier(0.6, 0, 0.4, 1);
}

.link a:hover::after,
.social a:hover::after,
.menu-footer a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.menu-toggle p#menu-close {
  opacity: 0;
  transform: translateX(-5px) translateY(10px) rotate(5deg);
}

.link a,
.social a {
  transform: translateY(120%);
  opacity: 0.25;
}

.menu-content {
  transform: translateX(-100px) translateY(-100px) scale(1.5) rotate(-15deg);
  opacity: 0.25;
}

.menu-overlay {
  clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
}

@media (max-width: 900px) {
  .menu-items .col-lg {
    display: none;
  }

  .link a::after,
  .social a::after,
  .menu-footer a::after {
    display: none;
  }

  .menu-footer .col-sm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  nav {
    padding: 1.5rem;
  }

  .social a {
    font-size: 1rem;
  }

  .link a {
    font-size: 2.5rem;
  }

  .menu-content {
    display: flex;
    justify-content: center;
    align-items: space-evenly;
  }

  .menu-footer {
    width: 100%;
    padding: 2.5em;
    display: flex;
    align-items: end;
    gap: 1em;
  }
}

@media (max-width: 700px) {
  .menu-items .col-lg {
    display: none;
  }

  .link a::after,
  .social a::after,
  .menu-footer a::after {
    display: none;
  }

  .menu-footer .col-sm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: end;
  }
  nav {
    padding: 1.5rem 1rem;
  }
}
